<html>
    <head>
        <title>Spock.</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="spock.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/f4a0abea64.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body class="custom-font">
        <div class="side">
            <img class="spock" src="imgs/mrspock.jpg">
        </div>
        <div class="content" id="spock">
            <div class="toolbar">
                <span class="endpoint" v-on:click="updateEndpoint">{{ endpoint }}</span>
                <select v-model="every" v-on:change="refreshEndpoint">
                    <option value="1000">1s</option>
                    <option value="10000">10s</option>
                    <option value="15000">15s</option>
                    <option value="30000">30s</option>
                    <option value="60000">1m</option>
                </select>
                <i class="refresh fa fa-refresh" aria-hidden="true" v-on:click="refreshEndpoint"></i>
           </div>

            <div class="check" v-if="checks.length >= 1" v-for="check in checks">
                <div class="title">{{ check.id }}</div><div class="type" v-bind:class="bg(check, 'properties.status.value')" >{{ property(check, "properties.module.value") }}</div>
                <div style="clear:both"></div>
                <div class="stats">
                    <span class="info">{{ ago(check, "properties.last_checked.value")}}</span>
                    <span class="del">|</span>
                    <span class="info">Checked {{ property(check, "properties.checked.value" )}} times</span>     
                    <span class="del">|</span>
                    <span class="info">{{ property(check, "properties.interval.value") }}</span>                                   
                </div>
                <div class="histogram">
                    <div v-for="e in check.events" class="graph" v-bind:class="bg(e, 'description')">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="footer">
            Made with <i class="fail fa fa-heart" aria-hidden="true"></i> by <a href="http://github.com/kcmerrill/">kcmerrill</a>. Art by <a href="http://kgreene.deviantart.com">kgreene</a>
            <div class="social-icons">
                <a href="http://github.com/kcmerrill/spock"><i class="github fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    <script src="spock.js"></script>        
    </body>
</html>
