text:focus {outline:0;}

body {
    background-color: white;
    color: black;
    margin: 0px;
    padding:0px;
    width: 100%;
    box-sizing: border-box;
}
.custom-font {
    font-family: 'Mukta Vaani', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.footer {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    position:fixed;
    bottom: 0;
    box-sizing: border-box;
}
.footer .credits {
    font-size: 10px;
    float:left;
}
.footer a {
    text-decoration: none;
    color: darkgrey;
}
.social-icons {
    float: right;
    font-size: 25px;
}
.social-icons i {
    padding-right: 10px;
}
.fail {
    color: #EC3B2D;
}
.fail-bg {
    background-color: #EC3B2D;
}
.ok {
    color: #4AC53C;
}
.ok-bg {
    background-color: #4AC53C;
}
.
.
.twitter {
    color: #00aced;
}
.github {
    color: white;
}
.facebook {
    color: #3b5998;
}
.linkedin {
    color: #0077b5;
}

.side {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
    position: fixed;
}

.spock {
    width: 100%;
}

.page {
    height: 100%;
    width: 100%;
}
.check {
    padding-bottom: 45px;
}
.check .title {
    font-weight: bold;
    font-size: 40px;
    display: inline;
}

.content {
    float:right;
    width: 50%;
    box-sizing: border-box;
    padding: 0px 10px 80px 0px;
}
.side .status {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: none;
}

.content .status {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    box-sizing: border-box;
}

.check .type {
    padding: 5px;;
    display: inline;
    color: white;
    font-weight: bolder;
    float:left;
    margin: 13px 10px 10px 0px; 
}

.check .graph {
    height: 21px;
    width: 21px;
    display: inline-block;
    margin: 2px 2px 2px 2px;
}

.check .stats .info {
    font-size: 12px;
    color: darkslategrey;
    color: lightgrey;
}

.check .histogram {
    margin-top: 10px;
}

.check .stats .del {
    color: darkgrey;
}

.content .top a{
    text-decoration: none;
    color: darkgrey;
}
