body {
    background-color: white;
    color: black;
    margin: 0px;
    padding:0px;
}
.custom-font {
    font-family: 'Mukta Vaani', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.spock-img {
    height: 100%;
    display: inline-block;
    float:left;
}
.footer {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    position:absolute;
    bottom: 0;
}
.social-icons {
    float: right;
    margin-right: 20px;
    font-size: 20px;
}
.social-icons i {
    padding-right: 10px;
}
.fail {
    color: red;
}
.ok {
    color: green;
}
.
.twitter {
    color: #00aced;
}
.github {
    color: white;
}
.facebook {
    color: #3b5998;
}
.linkedin {
    color: #0077b5;
}
.content {
    display: inline-block;
    background-color:blue;
    float: left;
}
.content .check {
    width: 100%;
    box-sizing: border-box;
    clear: both;
}

.check .name {
    font-size: 25px;
}

.stat {
    display: inline;
    width: 150px;
    text-align:center;
    float: left;
}

.stat .count {
    font-size: 50px;
    font-weight:bolder;
}

.stats .last-seen {
    font-size: 75px;
}

.stat .label {
    color: lightgrey;
}

.checks {
    margin-top:50px;
}
